footer
  .container.text-center
    p(align='center') © 2017 Denarius. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/carsenk/denariusnodewallet', target='_blank') GitHub Project
      li
        a(href='https://github.com/carsenk/denariusnodewallet/issues', target='_blank') Issues
