extends layout

block content
  .page-header
    h1 Denarius Wallet
  p.lead A NodeJS/MongoDB powered Denarius Web Wallet. Send and Receive DNR from anywhere!
  hr
  .row
    .col-sm-6
      h2 Fast & Secure
      p This online wallet is powered upon NodeJS/MongoDB running in conjunction with a Denarius Full Node, allowing access to the speeds and power of the Denarius blockchain.
      p
        a.btn.btn-default(href='/login', role='button') Sign Up! »
    .col-sm-6
      h2 What is Denarius?
      p Denarius is a cryptocurrency built upon the original Bitcoin Core Satoshi Nakamoto codebase. It features a new Proof-Of-Work hashing algorithm called "Tribus" and also features Proof-Of-Stake at 6% per year.
      p
        a.btn.btn-default(href='https://github.com/carsenk/denarius', target='_blank', role='button') View Github »
